

.main-header {
  position: relative;
  background-image: var(--clr0);
  color: inherit;
  /* z-index: 1; */
}


.main-header .main-nav a {
  width: var(--nav-height);
  height: var(--nav-height);
  align-items: center;
  justify-content: center;

  text-transform: uppercase;
  display: flex;
  color: inherit;
  text-decoration: none;
  
  transition: box-shadow 0.4s;

}
